html {
  scroll-behavior: smooth;
}

img {
  width: 160px;
  height: auto;
}
.header {
  background-color: rgb(71, 233, 245);
}
.header ul {
}
.header ul li {
  display: inline-block;
  margin-left: -4px;
}
.header ul li a {
  padding: 25px;
  line-height: 41px;
  border-right: 1px solid #ddd;
  text-decoration: none;
}
.header ul li a:hover {
  background-color: #fff;
}
/*  banner section */
.banner {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrQXQy0jvOXB8p6JKYtWAUb2V-EDn4ffA4_Q&usqp=CAU);
  padding: 200px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-origin: border-box; */
  background-attachment: fixed;
}
.banner h2 {
  background-color: rgba(149, 215, 246, 0.52);
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 25px;
}
.banner h1 {
  max-width: 457px;
  height: auto;
  text-align: center;
  background-color: rgba(7, 71, 5, 0.466);
  margin: auto;
  border-radius: 10px;
}
/*  about section */
.about {
  padding: 94px;
}
.about h2 {
  font-size: 34px;
  margin-bottom: 15px;
}
.about p {
  width: 716px;
  margin: auto;
}
/* service */
.service {
  background-color: #fbf8f8;
}
.service h2 {
}
.service p {
}

span {
  color: #fff;
  padding: 18px 22px;
  background-color: #00cfff;
  line-height: 57px;
  border-radius: 19px 0px;
}
/* product */
.product {
  padding: 110px;
}
.product img {
  width: 170px;
  border: 1px solid rgb(1, 128, 121);
}
.product p {
  text-align: left;
}
.product h2 {
  text-align: center;
}
.product ul {
}
.product li {
  padding: 8px 0px;
  color: white;
  background-color: #82eaaaa6;
  border: 1px solid #ddd;
  margin-top: 5px;
}

/* contact section */
.form1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/*  footrer */
.footer {
  background-color: rgb(42, 39, 39);
}
.footer p {
  color: #fff;
  padding: 12px 0px;
}
.footer ul {
}
.footer ul li {
  display: inline-block;
  text-align: center;
  padding: 5px 0px;
}
.footer ul li a {
  display: inline-block;
  padding: 5px 15px;
}
.footer ul li a:hover {
}
